<div class="container w-100 " style="max-width: 720px;">
    <div class="row text-center mb-3">
        {{page-title "ContactManager"}}
        <LinkTo @route="index" class="link-primary fs-1 fw-bold link-underline link-underline-opacity-0 link-text-dark-hover" aria-label="Link To Home Page">
            Contacts
        </LinkTo>
        {{outlet}}
    </div>
</div>
